# Environment variables
.env
.env.local
.env.*.local
.env.development
.env.production

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/
/bin/
/pkg/
go.work

# Node.js / TypeScript / Frontend
node_modules/
/dist
/dist-ssr
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# TypeScript
*.tsbuildinfo

# Build outputs
/build
/out
/.next/
/.nuxt/
/.vite/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log

instagram-service/venv
instagram-service/__pycache__